body {
    background-color: #8A4751;
    color: #FFF7ED;
    font-family: 'Lancelot', cursive;
    cursor: url("./flower.png"), auto;
}

h3 {
    color: #FFF7ED;
    font-size: 20px;
    cursor: url("./flower.png"), auto;
}

.box-title {
    border-color: #FFF7ED;
     color: #FFF7ED;
    border-width: 6px;
    border-style: solid;
    margin: 40px;
    text-align: center;
    font-size: 23px;
    cursor: url("./flower.png"), auto;
}


.hero-image {
  background-image: url("./media/flowers.png");
  filter: invert();
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  cursor: url("./flower.png"), auto;
}

.box-form {
  font-size: 26px;
  text-align: center;
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  filter: invert();
  cursor: url("./flower.png"), auto;
  
}


button {
    filter: invert();
    background-color: #FFF7ED;
    color: #8A4751;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 350px;
    cursor: url("./flower.png"), auto;
}

#result {
    filter: invert();
    color: #FFF7ED;       
    text-align: center;   
    font-size: 22px;
    margin-top: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    cursor: url("./flower.png"), auto;
}


@media (max-width: 600px) {    
    img {
        width: 100%;
        height: auto;
    }
    
}